/* Remove the ability to select and drag the image */
.noDrag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* 
  The line below triggers the warning:
  Unknown property: 'user-drag' css(unknownProperties)"
  
  user-drag: none;
  */
}
/* Forces <Draggable /> to fit it's content */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
